
/* it selects the whole page and changes it  */
/* 
*{

color: blue;
background-color: red;
} */

/* it changes the color of the body( the background of the page) */
body{ 

    background-color: beige;
}
/*it changes all the buttons on the html file any size you want  */
button{
    font-size: 30px;
}

/* select and header and only those headers will change colors  */
h1, h2{
    color: crimson;
}
/* type the id from html and it will only change that id color  */

#signup{
    background-color: pink;
    color: blue;

}
/* the dot means a class */
.sec{

    color: green;
}

/*  the dot also means class*/
.post a{

    color: hotpink;
}

footer > a{

    color: purple;
}

/* since were changing the name of the password 
we put the type and the input with "[]" */

input[type="password"]{

color:purple;

 }

 input[type="text"]{

    color: red;
 }

 /*your checking all anchor tag have  */
 a[href*="google"]{

    color: darkorange;
 }
/* it will only change color button hover without id, its called a pseudo classes */
 button:hover{

background-color: red;
color: rgb(114, 91, 213);
 }
/* having the actual element witha pseudo class it activate the color 
when you try to click on the buttons without an id */
 .post button:active {

background-color: green;

 }
 /* pseudo elements */

 h2::first-letter {

    font-size:50px;
 }

 /*  pseudo elements*/
 p::first-line {

    color: blue;
    background-color: red;
 }